@import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Redressed&family=Sofia&display=swap");

.bc {
  margin-top: 0;
  height: 500px;
  width: auto;

  background: url("LDC Logo-02 1.png");
  background-size: 100%;
  background-position: center;
  background-color: rgba(93, 89, 164, 0.6);

  padding-top: 100px;
  display: flex;

  display: block;
}
.ce {
  position: static;
  display: block;
  margin-left: auto;
  margin-bottom: 0;
  margin-top: 275px;

  margin-left: 330px;
  margin-right: auto;
  width: 800px;
  font-family: "Redressed";
  font-size: 50px;
  color: rgba(255, 255, 255);
  padding: 0;
}
img {
  height: 30px;
  width: 30px;
}

.icons {
  background-color: chocolate;
  margin-top: 0;
  margin-left: 0px;
  vertical-align: ;
}
